{% extends 'page.html' %}

{% block title %}TB Geocon - About{% endblock %}

{% block about %}

<!-- ABOUT SECTION - START -->
<a id="about">
    <div class="about">
        
        <h1>About</h1>
        
        <span class="about-text">
            <p>TB Geocon is a Switzerland-based freelance geological consultant firm with a main focus on mineral exploration and mining.</p>
            <p>The shift from on- or near-surface deposits to buried deposits requires a larger number of “smart geologists” who are able to decipher complex geological situations and who are able to employ different methods and tools in an efficient and effective manner.</p>
            <p>As passionate field geologists, we put a special emphasis on getting our boots on the ground. The key part of our service is therefore field-based work. We assist in geological mapping, prospecting and geochemical sampling in all terrains (incl. alpine, arctic and desert environments), on the surface and underground. In addition, we can assist in core logging and exploration of historic underground mines to evaluate their potential for future mining.</p>
            <p>The importance of a well-developed, thorough geological map including detailed descriptions of observations, structural analyses and geological profiles is often underestimated. The best software package and largest team cannot work effectively without those basic observations and data. We are used to map “the old fashion way” with pen and paper and have developed an effective system to produce complete geological maps of an area in the field, resulting in a large compiled map and A4 / letter-sized map sheets at the end of a field season – ready to be digitized in GIS.</p>
            <p>We further provide office-based services including digitizing of historic data, GIS data compilation, graphic generation, a translation service (German-English) and evaluation & planning services. If you are starting a new project that has historic data from previous explorers available, we can help you develop a master database and convert the historic to modern digital data in order to incorporate it in GIS and modelling software.</p>
            <p>For universities and schools, we provide presentations about the geology profession from the perspective of economic geology, as well as field courses related to basic geological fieldwork, but also fieldwork specifically related to the mineral exploration sector. On request, we are capable of preparing presentations and lectures of other specific topics.</p>
            <p>As we are passionate field geologists, we are able to work in any terrain at any latitude. Throughout the years, we were able to gain experience in the mountainous terrains of the Arctic, Europe, South America and even of Antarctica. But we have also been active in the deserts of the Sultanate of Oman and the outback of New South Wales in the southeast of Australia. We are capable of working based out of a remote field camps, accessible by road vehicles, all-terrain vehicles, helicopters, boats or even by foot. If necessary, we are able to operate small boats and landing crafts to reach our desired destination.</p>
        </span>
    
        <!-- Liste der Zertifikate & Kenntnisse -->
        
    </div>
</a>
<!-- ABOUT SECTION - END -->

{% endblock %}