{% extends 'page.html' %}

{% block title %}TB Geocon - Contact{% endblock %}

{% block contact %}

<!-- CONTACT SECTION - START -->
<a id="contact">
    <div class="contact">
        <h1>Contact</h1>
    
        <section>
            <div class="contact-details">
                <ul>
                    <li><img src="../../media/public/location.svg" alt="Address Icon"></li>
                    <li><img src="../../media/public/phone.svg" alt="Phone Icon"></li>
                    <li><img src="../../media/public/mail.svg" alt="Email Icon"></li>
                    <li><img src="../../media/public/globe.svg" alt="Website Icon"></li>
                    <li><span style="width:auto;height:175px;">Wasserhaus 86</br>4142 Münchenstein</br>Switzerland</span></li>
                    <li><span style="width:auto;height:175px;">+41 79 468 41 71</span></li>
                    <li><span style="width:auto;height:175px;">info@tbgeocon.com</span></li>
                    <li><span style="width:auto;height:175px;">https://tbgeocon.com</span></li>
                </ul>
            </div>
        </section>
        <section>
            <form action="#" method="post">
    
                <p>Your name: <input type="text" name="name" /></p>
            
                <p>Your email: <input type="text" name="email" /></p>
            
                <p class="antispam">Leave this empty: <input type="text" name="url" /></p>
            
                <p><textarea name="message"></textarea></p>
            
                <p><input type="submit" value="Send" /></p>
            
            </form>
        </section>
    
        <!--<section>
            <div class="contact-container">
                <div class="contact-row justify-content-center">
                    <div class="col-md-12">
                        <div class="contact-wrapper">
                            <div class="contact-row mb-5">
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="text">
                                        <p>Wasserhaus 86, 4142 Münchenstein, Switzerland</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="text">
                                        <p><a href="tel://1234567920">+41 31 852 00 58</a></p>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-paper-plane"></span>
                                        </div>
                                        <div class="text">
                                        <p><a href="mailto:info@tbgeocon.com">info@tbgeocon.com</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="dbox w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center">
                                            <span class="fa fa-globe"></span>
                                        </div>
                                        <div class="text">
                                        <p><a href="#">https://tbgeocon.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            
                            <div class="contact-row no-gutters">
                                <div class="col-md-7">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Contact Us</h3>
                                        <div id="form-message-warning" class="mb-4"></div> 
                                  <div id="form-message-success" class="mb-4">
                                Your message was sent, thank you!
                                  </div>
                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                            <div class="contact-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="contact-label" for="name">Full Name</label>
                                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="contact-label" for="email">Email Address</label>
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="contact-label" for="subject">Subject</label>
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="contact-label" for="#">Message</label>
                                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Send Message" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5 d-flex align-items-stretch">
                                    <div class="info-wrap w-100 p-5 img" style="background-image: url(images/img.jpg);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </a>-->
    <!-- CONTACT SECTION - END -->

{% endblock %}