<!-- HERO SECTION - START -->
<div class="hero">
    <img src="../../media/public/hero.jpg" alt="Start picture of a massive iceberg in Greenland">
    <div class="hero-content">
        <span>
        TB Geocon, a geological consultancy,</br>
        focussed on the mineral exploration and mining sector,</br>
        with special emphasis on the Arctic.
        </span>
        <div class="line"></div>
    </div>
</div>
<!-- HERO SECTION - END -->

<!-- ABOUT SECTION - START -->
<a id="about">
    <div class="about">
        
        <h1>About</h1>
        
        <span class="about-text">
            <img src="../../media/public/tobiasbrehm.jpg" alt="Photo of Tobias Brehm in a cave">
            <p>M.Sc. in Economic Geology &nbsp; | &nbsp; B.Sc. in Geosciences</p>
            <p>10+ years geology and mineral exploration. 7 years Polar expeditions. 6 of 7 continents. Hot deserts, rugged mountains and wide oceans. Now a Switzerland-based freelance geological consultant.</p>
            <p>A passionate field geologist able to work in any terrain at any latitude. Work experience in geology and mineral exploration ranges from mountainous terrains of the Arctic, Europe, North and South America, through the deserts of the Sultanate of Oman to the outback of New South Wales in Australia and Utah in the USA. Capable of working based out of remote field camps, areas accessible by road vehicles, all-terrain vehicles, helicopters, boats or even on foot. A horse can be a good means of transportation as well, by the way. If necessary, able to operate small boats and landing crafts to reach the desired destination. Current focus is the mineral exploration industry in Greenland and Scandinavia.</p>
            <p>Able to support (Polar) expeditions with the experienced gained on various remote projects in conjunction with a large variety of skills, knowledge, and special training. Local knowledge especially of the Arctic and Antarctica (peninsula-side) including the subantarctic islands – even the South Sandwich Islands.</p>
        </span>
    
        <!-- Liste der Zertifikate & Kenntnisse -->
        
    </div>
</a>
<!-- ABOUT SECTION - END -->

<!-- SERVICES SECTION - START -->
<a id="services">
    <div class="services">
            
    <!-- Start Tabs HTML -->
    <div class="tabs">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">  
        <input type="radio" id="tab4" name="tab-control">
        <ul class="tabs-ul">
            <li title="Features"><label for="tab1" role="button"><span>Mining & Geology</span></label></li>
            <li title="Delivery Contents"><label for="tab2" role="button"><span>Polar Expeditions</span></label></li>
            <li title="Shipping"><label for="tab3" role="button"><span>Photography</span></label></li>
            <li title="Returns"><label for="tab4" role="button"><span>Translations</span></label></li>
        </ul>
        
        <div class="slider"><div class="indicator"></div></div>

        <div class="content">
            <section>

            <div class="service-desc">

                <p>
                    Living a geological lifestyle since 2006. Serving the mining and exploration industry since 2012. Passionate field geologist in all types of terrains and countries.</br>
                    Gained experience across the world on nearly all continents: from the hot desert to the cold ice.</br>
                    A holistic view and a strong sense for space and time are the key essentials in geology.
                </p>

                <ul class="services-companies">
                    <li><img src="../../media/public/greenfieldsexploration.png"></li>
                    <li><img src="../../media/public/dfg.svg"></li>
                    <li><img src="../../media/public/europeancobalt.webp"></li>
                    <li><img src="../../media/public/alderan.png"></li>
                    <li><img src="../../media/public/minconsult.png"></li>
                    <li><img src="../../media/public/drag.svg"></li>
                    <li><img src="../../media/public/nama.png"></li>
                    <li><img src="../../media/public/dmbergbau.svg"></li>
                </ul>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/mineralexploration.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Mineral Exploration</h4>
                    <p>
                        Serving the mineral exploration industry across the world since 2012. Interdisciplinary. Holistic. Open minded.</br>
                        Desert, jungle, civilization or the Polar Regions - it doesn't matter. Polar Regions? Oh yes, a strong focus!</br>
                        A geochemical sampling program is need? It takes the full path from taking the sample, integrating into a database and ensuring QA/QC and chain of custody of analyses results.
                    </p>
                    <p>
                        <span style="text-decoration: underline;">Commodities:</span> base metals (Cu, Pb, Zn, Ni), precious metals (Au, Ag, PGE), speciality metals (Sb, Co), industrial minerals (fluorite, barite, cryolite) - the list is happy to grow.
                    </p>
                </div>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/surfacemapping.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Surface Mapping</h4>
                    <p>
                        With pen, paper and mylar. It still works! Digital tools and GIS-systems are making it even better.</br>
                    </p>
                </div>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/undergroundmapping.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Underground Mapping</h4>
                    <p>
                        Caves, abandoned mines or active underground operations. General overview mapping, structural mapping or mapping for commodity grade. There is no better 3D outcrop in the world.
                    </p>
                </div>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/undergroundreconnaissance.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Underground reconnaissance</h4>
                    <p>
                        There is a black hole that nobody knows where it leads to? It is time to shead light into the dark. Man-made or natural. Narrow tubes or vertical shafts. Rock or ice.</br>
                        Rope access, swimming in a wetsuit or just plain walking on dusty ground.
                    </p>
                </div>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/drilling.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Drill Programm Planning</h4>
                    <p>
                        Greenfield to brownfields exploration drilling. Remote, close to or even in town. Helicopter- and ship-supported. </br>
                        There is always a solution in the planning and even still in the managing phase of a drilling campaign. It does not end with a drill rig set in place. </br>
                        Core handling, logging, documenting and sampling procedures. It is about the little details from sufficient water and power supply, non-frozen pipes all the way to well safety and control. Completed an IWCF Well Control Level 4 course in 2021.
                    </p>
                </div>
            </div>

            <div class="clip-container-right-arrow">
                <div id="area1"></div>
                <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/corelogging.jpg"></div>
                <div id="area3" class="clip-container-text">
                    <h4>Core Logging Facility Planning & Setup</h4>
                    <p>
                        Setting up a drilling program and carrying it out is one thing. But core handling, logging, sample preparing and storing is another.</br>
                        There are infinite ways of setting up a core logging and storage facility. There is certainly a tailored solution for your project.
                    </p>
                </div>
            </div>
            
            </section>
            <section>
                <div class="service-desc">

                    <p>
                        Taking part in Polar Expeditions since 2014. Set of skills like a Swiss army knive. There is a way for everything.</br>
                        Working for various companies as Expedition Leader and Expedition Guide. Besides expedition support for the mineral exploration industry, most of the work is ship-based on expedition cruise ships of various size.
                    </p>
                </div>

                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/expeditionsupport.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Expedition Support</h4>
                        <p>
                            Experience with remote / fly camps including camp construction & logistics. Strong sense for safety and risk management. Open-minded problem solver. If things need to get done, things will get done.</br>
                            Experience with ship and helicopter operations.</p>
                            Local knowledge in the Polar Regions - especially Greenland.
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/expeditioncruising.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Polar Expedition Cruises</h4>
                        <p>
                            Expedition Leader in both Polar Regions for various cruise ship operators. 12-passenger ships, sailing vessels, 100-passenger expedition vessels to larger cruise ships.</br>
                            Completed STCW courses in security awerness and crowd management.
                        </p>
                        <p>
                            <span style="text-decoration: underline;">Arctic destinations:</span> Svalbard with Bj&oslash;rn&oslash;ya, all around Greenland, Jan Mayen, Northern Norway, Iceland, Fair Isle</br>
                            <span style="text-decoration: underline;">Antarctic destinations:</span> Falkland Islands, South Georgia, South Sandwich Islands, Antarctic Peninsula, Wedell Sea
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/zodiacdriving.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Small Boat / Zodiac Operator</h4>
                        <p>
                            Small boat operator since 2014. Holding valid powerboat licenses. Acted as driving instructor on various cruise ships.</br>
                            Comprehensive experience in high wind and high wave conditions including beach landings in those conditions (front and stern).</br>
                            Basic understanding of boat / engine maintenance.
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/firearms.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Firearms Handler & Bear Protection</h4>
                        <p>
                            Certified firearms handler for bear protection since 2012. Acted as armorer, dedicated firearms specialist, and (polar) bear specialist on various expeditions.</br>
                            Holds a valid Svalbard firearms loan license.
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/ropework.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Rope Access Specialist</h4>
                        <p>
                            Holding a level-2 rope access certificate from the Swiss Mountain Guides Association.</br>
                            Experience in all types of terrain - rock & ice - from previous expeditions and as a certified mountain & cave rescuer. 
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/offroad.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Offroad Vehicle Operator</h4>
                        <p>
                            Years of experience in operating offroad vehicles in various terrains across the world.</br>
                            Sherps, ATVs, UTVs, Skidoos, Landcruises and other 4x4 vehicles.</br>
                            Experience on rock, sand and ice.
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/fire.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Emergency Training: Medical & Fire</h4>
                        <p>
                            Certified Basic Emergency Medical Technician, Mountain Rescue Cordinator and Cave Rescuer, includes: standard rope rescue, high-angle industrial rescue, cable car evacuation, air rescue, cave rescue.</br>
                            Certified Fire Fighter including the use of breathing devices.
                        </p>
                    </div>
                </div>
    
                <div class="clip-container-right-arrow">
                    <div id="area1"></div>
                    <div id="area2" class="clipping-box-right-arrow"><img src="../../media/public/loghouse.jpg"></div>
                    <div id="area3" class="clip-container-text">
                        <h4>Craftmanship</h4>
                        <p>
                            Loghouse building, general woodworks, basic electric works. What ever it is needed to make things work.
                        </p>
                    </div>
                </div>
            </section>

            <section>
                <div class="service-desc">
                    <img src="../../media/public/photography.jpg" style="width: 20%; border-radius: 1px; float: left; margin-right: 2%; margin-bottom: 2%;">
                    <p>
                        Expeditions, geology work in remote areas of the world, a general interest in nature and travel. And always a camera alongside.</br>
                        A recipe for good photo opportunities and interesting motifs.</br>
                        You are looking for a nice photo for your wall or a document? You simply want to enjoy nice photographs?</br>
                        Visit the photography gallery and store:
                        </br>
                        </br>
                        https://tobiasbrehm.com <span style="color: red; font-weight: bold;">(LINK GEHT NICHT!!!)</span>
                    </p>
                </div>
            </section>

            <section>
                <div class="service-desc">
                    <img src="../../media/public/germanenglish.svg" style="width: 7%; border-radius: 1px; float: left; margin-right: 2%; margin-bottom: 2%;">
                    <p>
                        In need of a scientific translation service for documents in the field of natural sciences - especially within geology and/or mining? Let's get it done!</br>
                        Professional translations are possible for German and English. If you only need to know, what a foreign text includes, translations from French<!-- or Swedish--> into English or German are also possible.
                    </p>
                </div>
            </section>

        </div>
    </div>
    <!-- End Tabs HTML -->
    
    </div>
</a>
<!-- SERVICES SECTION - END -->

<!-- CONTACT FORM SECTION - START -->
<a id="contact">
    <div class="contact">
        <div class="contact-content">
    
            <h1>Contact</h1>
            
            <p>TEXT</p>
    
        </div>
    </div>
</a>
<!-- PROJECTS SECTION - END -->
