{% extends 'page.html' %}

{% block title %}TB Geocon - geological consulting{% endblock %}

{% block content %}

<!-- HERO SECTION - START -->
<div class="hero">
    <img src="../../media/public/hero.jpg" alt="Start picture of a massive iceberg in Greenland">
    <div class="hero-content">
        <span>
        TB Geocon, a geological consultancy,</br>
        focussed on the mineral exploration and mining sector,</br>
        with special emphasis on the Arctic.
        </span>
        <div class="line"></div>
    </div>
</div>
<!-- HERO SECTION - END -->

{% for section in sections %}
<div class="tabs">
    <ul class="tabs-ul">
        <li>{{section.get_title_display}}</li>
    </ul> 
    <div class="slider"><div class="indicator"></div></div>   
</div>
{% endfor %}
<div>
    {% for section in sections %}
        <p>{{section.text}}</p>
        <div>
            {% for logo in section.logos.all %}
            {% endfor %}
        </div>
        <div>
            {% for sub_section in section.sub_sections.all %}
            <span>test</span>
            <div class="clip-container-right-arrow">
                <img class="clipping-box-right-arrow" src="{{sub_section.img.url}}" alt="{{sub_section.img_alt}}">
                <div class="clip-container-text">
                    <h4>{{sub_section.title}}</h4>
                    <p>{{ sub_section.text }}</p>
                </div>
            </div>
            {% endfor %}
    
        </div>
    {% endfor %}
    <div>
        <div>
            <h2>Kontaktformular</h2>
            <form class="contact-form" method="post">
                {% csrf_token %}
                {{ form_de.as_p }}
                <div>
                  <button class="send-button" type="submit">Send</button>
                </div>
              </form>
        </div>
        <div>
        </div>  
    </div>
</div>
{% endblock %}