{% extends 'page.html' %}
{% load i18n %}
{% load markdown_extras %}

{% block title %}TB Geocon - geological consulting{% endblock %}

{% block content %}

<!-- HERO SECTION - START -->
<div class="hero">
    <img src="../../media/public/hero.jpg" alt="Start picture of a massive iceberg in Greenland">
    <div class="hero-content">
        <span>
        TB Geocon, a geological consultancy,</br>
        focussed on the mineral exploration and mining sector,</br>
        with special emphasis on the Arctic.
        </span>
        <div class="line"></div>
    </div>
</div>
<!-- HERO SECTION - END -->

<!-- ABOUT SECTION - START -->
<div id="about" class="about">
    <h2>{{ about.get_title_display }}</h2>
    <div class="about-content">
        <div>{{ about.text | convert_markdown | safe }}</div>
        {% if about.img %}
        <img src="{{ about.img.url }}" alt="{{ about.img_alt }}">
        {% endif %}
    </div>
</div>
<!-- ABOUT SECTION - END -->

<!-- Start Tabs HTML -->
<div id="services" class="tabs">
    <div class="tabs-ul">
        {% for section in sections %}
            <button class="tab" id="{{ section.title }}" onclick="openTap('{{ section.title }}')">{{section.get_title_display}}</button>
        {% endfor %}
    </div> 
    <div id="slider" class="slider"><div class="indicator left-50"></div></div>   
</div>
<!-- End Tabs HTML -->


<div class="services">
    {% for section in sections %}
        <section id="section_{{ section.title }}" class="section">
            <div class="section-content">
                {% if section.img %}
                <img src="{{ section.img.url }}" alt="{{ section.img_alt }}">
                {% endif %}
                <p class="service-intro-text">{{section.text | convert_markdown | safe}}</p>
            </div>
            <div>
                {% for logo in section.logos.all %}
                {% endfor %}
            </div>
            {% for sub_section in section.sub_sections.all %}
            <div class="clip-container-right-arrow">
                <img class="clipping-box-right-arrow" src="{{sub_section.img.url}}" alt="{{sub_section.img_alt}}">
                <div class="clip-container-text">
                    <h4>{{ sub_section.title }}</h4>
                    <p>{{ sub_section.text | convert_markdown | safe }}</p>
                </div>
            </div>    
            {% endfor %}
        </section>
    {% endfor %}
</div>
    <div class="contact-block">
        <div class="contact-block-form">
            <div id="contact" class="contact">
                <h2>Kontaktformular</h2>
                <form class="contact-form" method="post">
                    {% csrf_token %}
                    {{ form_de.as_p }}
                    <div>
                      <button class="send-button" type="submit">Send</button>
                    </div>
                  </form>
            </div>
        </div>
        <div class="contact-info">
            <div class="contact-info-block">
                <div class="contact-info-img">
                    <img src="../../media/public/location.svg" alt="Location pin">
                </div>
                <div class="contact-info-text">
                    <p>
                        <span>Address:</span></br>Wasserhaus 86, 4142 Münchenstein, Switzerland
                    </p>
                </div>
            </div>
            <div class="contact-info-block">
                <div class="contact-info-img">
                    <img src="../../media/public/phone.svg" alt="Phone symbol">
                </div>
                <div class="contact-info-text">
                    <p>
                        <span>Phone:</span></br><a href="tel://+41794684171">+41 79 468 41 71</a>
                    </p>
                </div>
            </div>
            <div class="contact-info-block">
                <div class="contact-info-img">
                    <img src="../../media/public/mail.svg" alt="Phone symbol">
                </div>
                <div class="contact-info-text">
                    <p>
                        <span>Email:</span></br><a href="mailto://info@tbgeocon.com">info@tbgeocon.com</a>
                    </p>
                </div>
            </div>
            <div class="contact-info-block">
                <div class="contact-info-img">
                    <img src="../../media/public/globe.svg" alt="Phone symbol">
                </div>
                <div class="contact-info-text">
                    <p>
                        <span>Website:</span></br><a href="https://tbgeocon.com">https://tbgeocon.com</a>
                    </p>
                </div>
            </div>
        </div>  
    </div>

{% endblock %}