{% extends 'page.html' %}
{% load i18n %}
{% load markdown_extras %}

{% block title %}TB Geocon - geological consulting{% endblock %}

{% block content %}

<!-- HERO SECTION - START -->
<div class="hero">
    <img src="../../media/public/hero.jpg" alt="Start picture of a massive iceberg in Greenland">
    <div class="hero-content">
        <span>
        TB Geocon, a geological consultancy,</br>
        focussed on the mineral exploration and mining sector,</br>
        with special emphasis on the Arctic.
        </span>
        <div class="line"></div>
    </div>
</div>
<!-- HERO SECTION - END -->

<!-- ABOUT SECTION - START -->
<div id="about" class="about">
    <h2>{{ about.get_title_display }}</h2>
    <div class="about-text">
        <p>{{ about.text | convert_markdown | safe }}</p>
    </div>
</div>
<!-- ABOUT SECTION - END -->

<!-- Start Tabs HTML -->
<div id="services" class="tabs">
    <div class="tabs-ul">
        {% for section in sections %}
            <button class="tab" id="{{ section.title }}" onclick="openTap('{{ section.title }}')">{{section.get_title_display}}</button>
        {% endfor %}
    </div> 
    <div id="slider" class="slider"><div class="indicator left-50"></div></div>   
</div>
<!-- End Tabs HTML -->


<div class="services">
    {% for section in sections %}
        <section id="section_{{ section.title }}" class="section">
            <p>{{section.text | convert_markdown | safe}}</p>
            <div>
                {% for logo in section.logos.all %}
                {% endfor %}
            </div>
            {% for sub_section in section.sub_sections.all %}
            <div class="clip-container-right-arrow">
                <img class="clipping-box-right-arrow" src="{{sub_section.img.url}}" alt="{{sub_section.img_alt}}">
                <div class="clip-container-text">
                    <h4>{{ sub_section.title }}</h4>
                    <p>{{ sub_section.text | convert_markdown | safe }}</p>
                </div>
            </div>    
            {% endfor %}
        </section>
    {% endfor %}
</div>
    <div>
        <div id="contact" class="contact">
            <h2>Kontaktformular</h2>
            <form class="contact-form" method="post">
                {% csrf_token %}
                {{ form_de.as_p }}
                <div>
                  <button class="send-button" type="submit">Send</button>
                </div>
              </form>
        </div>
        <div>
        </div>  
    </div>

{% endblock %}