
{% load markdown_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/generalstyle.css">
    <link rel="stylesheet" href="../static/style/about.css">
    <link rel="stylesheet" href="../static/style/services.css">
    <link rel="stylesheet" href="../static/style/projects.css">
    <link rel="stylesheet" href="../static/style/contact.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

    <!-- Scripts -->
    <script src="../static/scripts/init.js"></script>


    <!-- social media -->
    <meta property="og:title" content="TB Geocon - geological consulting"/>
    <meta property="og:description" content="TB Geocon - geological consulting"/>
    <meta property="og:image" content=""/>
    <meta property="twitter:title" content="TB Geocon - geological consulting"/>
    <meta property="twitter:description" content="TB Geocon - geological consulting"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content=""/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../media/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../media/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../media/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../media/public/favicon/site.webmanifest">
    
</head>
<body onload="init()">
    
<header>

    <a class="head-left" href="#">
        <img src="../../media/public/logo.png" alt="TB Geocon company logo">
    </a>

    <div class="head-right">
        <div class="head-right-lang">
            <a><img src="../../media/public/de.svg" alt="German flag"></a>
            <a><img src="../../media/public/en.svg" alt="British flag"></a>
        </div>
        <nav>
            <ul onclick="toggleNavbar()" id="nav" class="nav">
                <li><a href="#about">About</a></li>
                <li onclick="openTap('mining')"><a href="#services">Geology & Mining</a></li>
                <li onclick="openTap('polar')"><a href="#services">Polar Expeditions</a></li>
                <li onclick="openTap('photo')"><a href="#services">Photography</a></li>
                <li onclick="openTap('translations')"><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div id="navbar-btn" onclick="toggleNavbar()" href="#">
                <div id="btn-icon" class=""></div>
            </div>
        </nav>
    </div>

</header>

<main>

    {% block content %}

    {% endblock %}

    <div id="popup-impressum" class="overlay">
        <div class="popup">
            <h1>Impressum</h1>
            <a class="close" href="#bottom">&times;</a>
            <div class="content">
                <p>
                    <strong>TB Geocon</strong><br />
                    Tobias Brehm<br />
                    Wasserhaus 86<br />
                    4142 Münchenstein<br />
                    Switzerland
                </p>

                <p>Phone: +41 (0) 31 852 00 58</br>Email: info (at) tbgeocon.com</p>

                <h2 style="margin-top:30px;text-transform:uppercase;">Disclaimer</h2>

                <strong>Liability for Content</strong>
                <p>The contents of our pages were created with great care. We cannot accept any responsibility for the correctness, completeness and topicality of the contents. As a service provider we are responsible for our own contents on these pages under the general laws according to &#167; 7 paragraph 1 of TMG. According to &#167; &#167; 8 to 10 TMG, we as a service provider are not obliged to monitor transmitted or stored foreign information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected. However, liability is only possible from the date of knowledge of a specific infringement. Upon notification of such violations, we will remove the content immediately.</p>

                <strong>Liability for Links</strong>
                <p>Our pages contain links to external websites over which we have no control. Therefore, we cannot accept any responsibility for their content. The respective provider or operator of these linked pages is always responsible for their content. The linked sites were checked at the time of linking for possible violations of law. Illegal contents were not recognizable. A permanent control of the linked pages is unreasonable without concrete evidence of a violation. Upon notification of violations, we will remove such links immediately.</p>

                <strong>Copyright</strong>
                <p>The contents on these pages created by the site operator are subject to German copyright law. Duplication, processing, distribution and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of these pages are only permitted for private, non-commercial use. As far as the content is not created by the website operator, the copyrights of third parties are respected. Contents of third parties are marked as such. If you still become aware of copyright infringement, we ask to be notified. Upon notification of violations, we will remove the content immediately.</p>

                <p style="margin-top:30px;"><a rel="nofollow" href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">Disclaimer</a> of <a rel="nofollow" href="http://www.e-recht24.de" target="_blank">eRecht24</a>, the portal to the internet right lawyer S&#246;ren Siebert</p>
            </div>
        </div>
    </div>

    <div id="popup-dataprotection" class="overlay">
        <div class="popup">
            <h1>Data Privacy Policy</h1>
            <a class="close" href="#bottom">&times;</a>
            <div class="content">
                
                <p>Our website may be used without entering personal information. Different rules may apply to certain services on our site, however, and are explained separately below. We collect personal information from you (e.g. name, address, email address, telephone number, etc.) in accordance with the provisions of German data protection statutes. Information is considered personal if it can be associated exclusively to a specific natural person. The legal framework for data protection may be found in the German Federal Data Protection Act (BDSG) and the Telemedia Act (TMG). The provisions below serve to provide information as to the manner, extent and purpose for collecting, using and processing personal information by the provider.</p>
                <p>Please be aware that data transfer via the internet is subject to security risks and, therefore, complete protection against third-party access to transferred data cannot be ensured.</p>

                <h2>Cookies</h2>
                <p>Our website makes use of so-called cookies in order to recognize repeat use of our website by the same user/internet connection subscriber. Cookies are small text files that your internet browser downloads and stores on your computer. They are used to improve our website and services. In most cases these are so-called "session cookies" that are deleted once you leave our website.</p>
                <p>To an extent, however, these cookies also pass along information used to automatically recognize you. Recognition occurs through an IP address saved to the cookies. The information thereby obtained is used to improve our services and to expedite your access to the website.</p>
                <p>You can prevent cookies from being installed by adjusting the settings on your browser software accordingly. You should be aware, however, that by doing so you may not be able to make full use of all the functions of our website.</p>

                <h2>Server Data</h2>
                <p>For technical reasons, data such as the following, which your internet browser transmits to us or to our web space provider (so called server log files), is collected:</p>
                <ul style="list-style-type: '- ';">
                    <li>and version of the browser you use</li>
                    <li>operating system</li>
                    <li>websites that linked you to our site (referrer URL)</li>
                    <li>websites that you visit</li>
                    <li>date and time of your visit</li>
                    <li>your Internet Protocol (IP) address.</li>
                </ul>
                <p>This anonymous data is stored separately from any personal information you may have provided, thereby making it impossible to connect it to any particular person. The data is used for statistical purposes in order to improve our website and services.</p>

                <h2>Disclosure / Suspension / Deletion</h2>
                <p>On the basis of the Federal Data Protection Act, you may contact us at no cost if you have questions relating to the collection, processing or use of your personal information, if you wish to request the correction, blocking or deletion of the same, or if you wish to cancel explicitly granted consent. Please note that you have the right to have incorrect data corrected or to have personal data deleted, where such claim is not barred by any legal obligation to retain this data.</p>

                <h2>Data privacy statement for the use of Facebook-Plugins (Like-Button)</h2>
                <p>We use plugins of the social network Facebook, of the provider Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA, on our website. You can identify the Facebook-plugins by the Facebook logo or the &#34;Like Button&#34; on our website. You can find an overview those Facebook plugins here</p>
                <p>The plugin automatically connects your browser with the Facebook server when you visit our website. Facebook receives the information that you are visiting our website with your IP address. If you press Facebook’s &#34;Like Button&#34; while you are logged in to your Facebook account, you can link our website with your Facebook profile. Through this process, Facebook can collate your visit of our website with your user account. We point out that we do not have any knowledge of the content of the transmitted data or the usage through Facebook as the provider of this website. You can find further information in Facebook’s data privacy statement under</p>
                <p>If you do not wish that Facebook allocates your visit of this website to your Facebook user account, please log out of your Facebook user account.</p>
                <p><a rel="nofollow" href="https://www.facebook.com/policy.php" target="_blank">https://www.facebook.com/policy.php</a></p>

                <h2>Data privacy statement for the use of Google Analytics</h2>
                <p>This website uses the features of the website analytics service of Google Analytics. The provider of this service is Google Inc. 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics is using so-called &#34;cookies&#34;. These are text files that are saved on your computer and which enable the analysis of your usage of this website. The information produced by this cookie about your usage of this website are generally transmitted to and stored on a Google server in the United States.</p>
                <p>In case of an activation of the IP anonymization on this website, your IP address will, however, be shortened by Google within the member states of the European Union or within other contractual states of the European Economic Area. Only in exceptional cases, the complete IP will be sent to a Google server in the United States, where it will be shortened. Google will use your information on behalf of the operator of this website to analyse your behaviour on this website, to create a report about the website activity and to provide further services related to th usage of this website and the internet to the operator of this website. The IP address, that was transmitted to Google Analytics by your browser, will not be compiled with other data by Google.</p>
                <p>You can prevent the storage of cookies by changing the relevant settings in your browser; however, we point out to you that you may not be able to fully use all features of this website. In addition, you can prevent the acquisition and processing of your user data (incl. your IP address) through that cookie by Google, by downloading and installing the browser plugin available under the following link: <a rel="nofollow" href="http://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=en</a>.</p>

                <h2>Data privacy statement for the use of LinkedIn</h2>
                <p>Our website uses features of the social network LinkedIn. The provider is LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. Any visit to one of our sites containing features of LinkedIn will establish a connection to servers of LinkedIn. LinkedIn will be informed about your visit to our web page including your IP address. LinkedIn will be able to connect your visit to our website to your user account, if you press the “Recommend Button” of LinkedIn while being logged in to your LinkedIn account. We point out that we do not have any knowledge of the content of the transmitted data or the usage through LinkedIn as the provider of this website.</p>
                <p>You will find further information in the data privacy statement of LinkedIn under</p>

                <h2>Contact Form</h2>
                <p>If you send us a message through our contact form, your data from this form will be saved in order to handle your request and to be prepared for possible further requests. We are not passing on this information without your written consent.</p>

                <p>Law Offices of Wei&#223; &amp; Partner</p>
            </div>
        </div>
    </div>

</main>

<div class="container-top">
<a href="#" class="top"></a>
</div>

<footer>
    <div class="footer-div">

        <div class="footer-container">
            <div class="footer-container-left">
                <!-- als Liste einfügen?-->
                <a class="footer-element" href="#popup-impressum">Impressum</a>
                <a class="footer-element" href="#popup-dataprotection">Data Protection</a>
                <a class="footer-element" href="#contact">Contact</a>
            </div>

            <div class="footer-container-right">
                <!--<div class="slogan">Geology is a Lifestyle</div>-->
                <!-- als Liste einfügen?-->
                <a href="https://www.linkedin.com/in/tobiasbrehm/" target="_blank"><img src="../../media/public/in.svg" alt="Link to LinkedIn"></a>
                <a href="https://www.facebook.com/TBGeocon" target="_blank"><img src="../../media/public/fb.svg" alt="Link to Facebook"></a>
            </div>
        </div>

        <div class="footer-bottom">
            &#64; TB Geocon 2023 - All rights reserved
        </div>

        <a id="bottom"></a>

    </div>
    
</footer>

</body>
</html>