
{% load markdown_extras %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/generalstyle.css">
    <link rel="stylesheet" href="../static/style/about.css">
    <link rel="stylesheet" href="../static/style/services.css">
    <link rel="stylesheet" href="../static/style/projects.css">
    <link rel="stylesheet" href="../static/style/contact.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    
    <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>

    <!-- Scripts -->
    <script src="../static/scripts/init.js"></script>


    <!-- social media -->
    <meta property="og:title" content="TB Geocon - geological consulting"/>
    <meta property="og:description" content="TB Geocon - geological consulting"/>
    <meta property="og:image" content="http://tbgeocon.com/media/public/logo.png"/>
    <meta property="twitter:title" content="TB Geocon - geological consulting"/>
    <meta property="twitter:description" content="TB Geocon - geological consulting"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="http://tbgeocon.com/media/public/logo.png"/>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../media/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../media/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../media/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../media/public/favicon/site.webmanifest">

</head>
<body id="body" onload="init()">
    {% get_current_language as LANGUAGE_CODE %}   
<header>
    <a class="head-left" href="#">
        <img src="../../media/public/logo.png" alt="TB Geocon company logo">
    </a>
    
    <div class="head-right">
        <form action="{% url 'set_language' %}" method="post" class="head-right-lang language">
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ redirect_to }}">

            <button name="language" type="submit" value="en">
                <img src="../../media/public/en.svg" alt="British flag">
            </button>
            <button name="language" type="submit" value="de">
                <img src="../../media/public/de.svg" alt="German flag">
            </button>
        </form>

        <nav>
            {% if LANGUAGE_CODE == 'de' %}
            <ul onclick="toggleNavbar()" id="nav" class="nav">
                <li><a href="#about">Über mich</a></li>
                <li onclick="openTap('mining')"><a href="#services">Bergbau & Geologiie</a></li>
                <li onclick="openTap('polar')"><a href="#services">Polarexpeditionen</a></li>
                <li onclick="openTap('photo')"><a href="#services">Photographie</a></li>
                <li onclick="openTap('translations')"><a href="#services">Übersetzungen</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            {% else %}
            <ul onclick="toggleNavbar()" id="nav" class="nav">
                <li><a href="#about">About</a></li>
                <li onclick="openTap('mining')"><a href="#services">Geology & Mining</a></li>
                <li onclick="openTap('polar')"><a href="#services">Polar Expeditions</a></li>
                <li onclick="openTap('photo')"><a href="#services">Photography</a></li>
                <li onclick="openTap('translations')"><a href="#services">Translations</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            {% endif %}
            <div id="navbar-btn" onclick="toggleNavbar()">
                <div id="btn-icon" class=""></div>
            </div>
        </nav>
    </div>

</header>

<main>

    {% block content %}

    {% endblock %}

    <div id="popup-impressum" class="overlay hidden">
        <div class="popup">
            <h2>{{impressum.get_title_display}}</h2>
            <div onclick="closePopup()" class="close">&times;</div>
            <div class="content">
             {{ impressum.text | convert_markdown | safe }}
            </div>
        </div>
    </div>

    <div id="popup-dataprotection" class="overlay hidden">
        <div class="popup">
            <h2>{{legal.get_title_display}}</h2>
            <div onclick="closePopup()" class="close">&times;</div>
            <div class="content">
             {{ legal.text | convert_markdown | safe }}
            </div>
        </div>
    </div>

</main>

<div class="container-top">
<a href="#" class="top"></a>
</div>

<footer>

        <div class="footer-container">
            <ul class="footer-container-left">
                <li onclick="openPopup('impressum')" class="footer-element">Impressum</li>
                <li onclick="openPopup('dataprotection')" class="footer-element">Data Protection</li>
            </ul>

            <div class="footer-container-right">
                <!--<div class="slogan">Geology is a Lifestyle</div>-->
                <a href="https://www.linkedin.com/in/tobiasbrehm/" target="_blank"><img src="../../media/public/in.svg" alt="Link to LinkedIn"></a>
                <a href="https://www.facebook.com/TBGeocon" target="_blank"><img src="../../media/public/fb.svg" alt="Link to Facebook"></a>
            </div>
        </div>

        <div class="footer-bottom">
            &#64; TB Geocon 2023 - All rights reserved
        </div>

</footer>

</body>
</html>