{% extends 'page.html' %}

{% block title %}TB Geocon - Projects{% endblock %}

{% block projects %}

<!-- PROJECTS SECTION - START -->
<a id="projects">
    <div class="projects">
        <div class="projects-content">
    
            <h1>Project Reference List</h1>
            
            <p>The following list presents a selection of past projects and expeditions that TB Geocon has been involved in.</p>
            
            <h2>Geology & Mining</h2>
    
            <h3>Commodities</h3>
                <ul>
                    <li>base metals (Cu, Pb, Zn, Ni)</li>
                    <li>precious metals (Au, Ag, PGE)</li>
                    <li>speciality metals (Sb, Co)</li>
                    <li>industrial minerals (fluorite, barite, cryolite)
                </ul>
    
            <h3>Former Clients</h3>
                <ul class="projects-companies">
                    <li><img src="../../media/public/greenfieldsexploration.png" style="height:4.5em;width:auto;"></li>
                    <li><img src="../../media/public/dfg.svg"></li>
                    <li><img src="../../media/public/europeancobalt.webp" style="height:auto;width:12em;"></li>
                    <li><img src="../../media/public/alderan.png" style="height:3em;width:auto;"></li>
                    <li><img src="../../media/public/minconsult.png"></li>
                    <li><img src="../../media/public/drag.svg"></li>
                    <li><img src="../../media/public/nama.png" style="height:4em;width:auto;"></li>
                </ul>
                <ul>
                    <li>DM Bergbau AG, Germany</li>
                </ul>
    
    
            <h2>Polar Expeditions</h2>
                <ul>
                    <li>Svalbard & Björnöya</li>
                    <li>Eastern, Western and Northern Greenland</li>
                    <li>Jan Mayen</li>
                    <li>Northern Norway (Tromsö & Lofoten)</li>
                    <li>Iceland</li>
                    <li>Fair Isle</li>
                    <li>Falkland Islands</li>
                    <li>South Georgia</li>
                    <li>South Sandwich Islands</li>
                    <li>Antarctic Peninsula</li>
                    <li>Wedell Sea</li>
                </ul>
            
            <div class="projects-worldmap">
            <img src="../../media/public/world_map_2023.svg" alt="world map with projects">
            </div>
    
        </div>
    </div>
</a>
<!-- PROJECTS SECTION - END -->

{% endblock %}